.upvote{
    display: flex;
    align-items: center;
    padding-left: .75rem;
}
.container{
    display: flex;
    flex-direction: column;
}
.modal-content{
    box-sizing: border-box;
    padding: 1rem;    
}