main{
    margin-top: 2rem;
}
.upvote{
    display: flex;
    align-items: center;
    padding-left: .75rem;
}
.container{
    display: flex;
    flex-direction: column;
}
.card{
    margin-top: 1rem;
}